body 
{
    background: steelblue;
    box-shadow: blueviolet;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans';
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#cabecera #tagline
{
    padding: 0 0 1em;
    font-weight: normal;
    font-size: 0.8cm;
}
#container h1
{
    font-size: 20px;
}